/* Menghapus margin dan padding default pada body dan html */
html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Navbar Styling */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  margin: 0;
  padding: 15px 20px;
  height: 80px;
  background-color: #0077a5;
  box-shadow: none;
}

.navbar-brand {
  color: #ffffff; /* Mengubah warna teks navbar brand menjadi putih */
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
  background-color: #0077a5;
}

/* Navbar dropdown - styling untuk menu hamburger */
.navbar-collapse {
  background-color: #0077a5; /* Memberikan latar belakang yang lebih gelap agar teks putih lebih terlihat */
  border-radius: 5px;
  padding: 10px;
  box-shadow: none; /* Efek bayangan untuk memberi kesan terangkat */
}

/* Styling navbar links */
.navbar-nav .nav-link {
  color: #ffffff !important; /* Teks putih untuk kontras dengan latar belakang */
  font-size: 1.2rem;
  text-align: center; /* Menyusun menu dalam satu baris */
}

/* Hover effect */
.navbar-nav .nav-link:hover {
  background-color: #0077a5;
  color: #f0f0f0;
}

/* Hero Section Styling */
.hero-section {
  background: url("https://png.pngtree.com/background/20220731/original/pngtree-eid-al-adha-2022-background-picture-image_1911474.jpg")
    no-repeat center center;
  background-size: cover; /* Gambar menutupi seluruh area */
  height: 100vh; /* Membuat tinggi section 100% dari tinggi layar */
  padding: 0;
  margin: 0;
  text-align: center;
}

.hero-text {
  max-width: 600px;
  text-align: left;
  flex: 1 1 300px;
  margin-top: 70px;
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #004d4d;
}

.hero-text p {
  font-size: 1.25rem;
}

.btn-book {
  padding: 10px 30px;
  font-size: 1.2rem;
  background-color: #008000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
}

/* Footer Styling */
.footer {
  background-color: #0077a5;
  color: #ffffff;
  padding: 40px 0;
}

a {
  color: #ffffff !important;
  text-decoration: none; /* opsional: menghilangkan garis bawah */
}

a:hover {
  color: #f0f0f0 !important; /* opsional: warna saat hover */
}

.footer .text-center {
  font-size: 1rem;
  margin-top: 20px;
  padding-top: 10px;
}

footer {
  font-weight: bold;
}

/* Mengatur responsive layout */
@media (max-width: 768px) {
  .hero-section .container {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    text-align: center;
    margin-bottom: 20px;
  }

  /* Mengatur tampilan menu untuk perangkat kecil */
  .navbar-nav {
    flex-direction: column; /* Menata menu dropdown dalam kolom */
  }

  .navbar-nav .nav-link {
    padding: 10px;
  }
}
